/* ======== Imports ======== */
@font-face {
  font-family: robotoM;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
body {
  background-color: rgba(221, 221, 221, 0.3333333333);
  width: 600px;
  margin: auto;
  color: #0b0c17;
  font-family: robotoM;
}

* {
  margin: 0;
}

h2 {
  font-size: 2.3rem;
}

.header {
  height: 200px;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.headline {
  height: 400px;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
}
.headline h1 {
  font-size: 4rem;
}

.gallery {
  width: 600px;
}
.gallery figure {
  width: 500px;
  margin: auto;
}
.gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textSection {
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px !important;
}
.textSection div {
  margin-top: 50px;
}
.textSection div p {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.mainGrid {
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 400px 200px 400px 400px 400px 400px;
  /* === Article 1 (text) ===  */
  /* === Article 2 (text) ===  */
  /* === Article 3 (image) ===  */
  /* === Article 4 (text) ===  */
  /* === Article 5 (image) ===  */
  /* === Article 6 (text) ===  */
  /* === Article 7 (image) ===  */
  /* === Article 8 (text) ===  */
  /* === Article 9 (image) ===  */
  /* === Article 10 (text) ===  */
}
.mainGrid article:nth-of-type(1) {
  margin-top: 50px;
  width: 500px;
}
.mainGrid article:nth-of-type(1) h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.mainGrid article:nth-of-type(1) p {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
.mainGrid article:nth-of-type(2) {
  width: 600px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(2) h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(3) {
  width: 600px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(3) figure {
  width: 500px;
}
.mainGrid article:nth-of-type(3) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainGrid article:nth-of-type(3) div p {
  width: 90%;
  margin: auto;
}
.mainGrid article:nth-of-type(3) div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(4) {
  width: 500px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(4) p {
  text-align: center;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
}
.mainGrid article:nth-of-type(4) h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(5) {
  width: 600px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(5) figure {
  width: 500px;
}
.mainGrid article:nth-of-type(5) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainGrid article:nth-of-type(5) div p {
  width: 90%;
  margin: auto;
}
.mainGrid article:nth-of-type(5) div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(6) {
  width: 500px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(6) p {
  text-align: center;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
}
.mainGrid article:nth-of-type(6) h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(7) {
  width: 600px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(7) figure {
  width: 500px;
}
.mainGrid article:nth-of-type(7) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainGrid article:nth-of-type(7) div p {
  width: 90%;
  margin: auto;
}
.mainGrid article:nth-of-type(7) div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(8) {
  width: 500px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(8) p {
  text-align: center;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
}
.mainGrid article:nth-of-type(8) h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(9) {
  width: 600px;
  margin-top: 50px;
}
.mainGrid article:nth-of-type(9) figure {
  width: 500px;
}
.mainGrid article:nth-of-type(9) figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainGrid article:nth-of-type(9) div p {
  width: 90%;
  margin: auto;
}
.mainGrid article:nth-of-type(9) div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.mainGrid article:nth-of-type(10) {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.mainGrid article:nth-of-type(10) p {
  text-align: center;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
}
.mainGrid article:nth-of-type(10) h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

footer article h2 {
  text-align: center;
}
footer article p {
  text-align: center;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
footer article form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
